
header {
    padding: 10px;


}

.title-container {
    max-width: 1170px;
    display:flex;
    justify-content: left;
    align-items: flex-end;
    margin: 0 auto;
    margin-bottom:0;
    
}

.title {
    margin-bottom: 0;
    font-size: 50px;
}

.description {
    margin-left:1%;
    margin-bottom: 0;
}

.links {
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.links li {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.links a {
    
    color: white;
    text-decoration: none;
}


.form-container {
    border-radius: 50% 20% / 10% 40%;
    background-color: transparent;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    padding:40px;
}

.search-container {
    display:flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
    border-bottom: 4px #17959c solid;
    border-right: 4px #17959c solid;
    border-radius: 5px;
    box-shadow: 10px 10px #e8a87c;
}

.search-bar {
    color:white;
    font-size: 20px;
    background-color: transparent;
    border-color: transparent;
    width:100%;
    height:100%;
}

.search-button {
    background-color: transparent;
    border-color: transparent;
}






label {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

body {
    background-color:#7dc2ad;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.result-container {
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    gap: 20px 20px;
    height: 700px;

}

.result {
    display:flex;
    padding: 10px;
    /*border: 3px #202f72 solid;*/
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.3);
    transition-duration: 0.4s;
    flex-wrap:wrap;
    text-decoration: none;
    color: white;

    
}

.result-final {
    margin-bottom:50px;
}

.search-button {
    background-color: #17959c;
    color:white;
    border-radius: 30px;
    font-size: 16px;
    width: 50%;
    margin-top: 30px;
    height: 50px;
    transition-duration: 0.4s;
}

.connect{
    padding: 15px 15px;
}

.search-button:hover {
    background-color: #e8a87c;
    cursor: pointer;
}

#button-placeholder {
    grid-column-start: 2;
    display:flex;
    justify-content: center;
    align-content: center;
    width:100%;
    height: 150px;
}

.result img {
    width:130px;
    height: 130px;
    margin-right: 20px;
    
}

.result label {
    font-size: 1.2em;
    flex-shrink: 0;
    max-height: 30%;
    max-width: 50%;
}


.result:hover {
    box-shadow: 10px 10px #e8a87c;
    border-bottom: 4px #17959c solid;
    border-right: 4px #17959c solid;
    border-radius: 5px;
    cursor:pointer;
}

.result.selected {
    box-shadow: 10px 10px #e8a87c;
    border-bottom: 4px #17959c solid;
    border-right: 4px #17959c solid;
    border-radius: 5px;
}

.album-cover {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

audio {
    max-height: 30%;
    display:flex;
    justify-self: start;
    align-self: flex-end;

}

.webplayer {
    
    flex-basis: 100%;
    border-radius: 20px;
    background-color:#7dc2ad;
 
}

.q-form-container {
    max-width: 700px;
    display:flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 4px #17959c solid;
    border-right: 4px #17959c solid;
    border-radius: 5px;
    box-shadow: 10px 10px #e8a87c;
}

.generate-playlist-bttn {
    display:flex;
    justify-content: center;
}

.result-form-container {
    margin: 0 auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    max-width: 1000px;
}