<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Song Search</title>
</head>
<body>
    <h1>Spotify Song Search</h1>
    <form action="/search" method="post">
        <label for="query">Enter Song Name:</label>
        <input type="text" id="query" name="query" required>
        <button type="submit">Search</button>
    </form>
    <h1>Search Results</h1>
    <ul>
        {% for track in results %}
            <li>
                <strong>{{ track.name }}</strong> by {{ track.artists[0].name }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
