<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <title>Questionnaire</title>
</head>

<body>
    <div class='form-container'>
        <h1>Questionnaire</h1>
        <form action="/generate_playlist_from_questionnaire" method="post">
            <div class="form-group">
                <label>What's your mood?</label>
                <div>
                    <input type="radio" id="happy" name="mood" value="happy">
                    <label for="happy">Happy</label>
                </div>
                <div>
                    <input type="radio" id="sad" name="mood" value="sad">
                    <label for="sad">Sad</label>
                </div>
            </div>
            <div class="form-group">
                <label>What are you doing?</label>
                <div>
                    <input type="radio" id="party" name="activity" value="party">
                    <label for="party">Party</label>
                </div>
                <div>
                    <input type="radio" id="studying" name="activity" value="studying">
                    <label for="studying">Studying</label>
                </div>
                <div>
                    <input type="radio" id="chilling" name="activity" value="chilling">
                    <label for="chilling">Chilling</label>
                </div>
                <div>
                    <label>What time period?</label>
                    <div>
                    <input type="radio" id="90s" name ="time_period" value="90s">
                    <label for="90s">90s</label>
                    </div>
                    <div>
                        <input type="radio" id="2000s" name ="time_period" value="2000s">
                        <label for="2000s">2000s</label>
                    </div>
                </div>
                <div>
                    <label>Short or Long Songs?</label>
                    <div>
                    <input type="radio" id="short" name="duration" value="short">
                    <label for ="short">Short - under 3 minutes</label>
                    </div>
                </div>
                <div>
                    <input type="radio" id="long" name="duration" value="long">
                    <label for ="long">Long - over 3 minutes</label>
                </div>
                <div>
                    <label>How popular are the songs?</label>
                <div>
                    <input type="radio" id="unpopular" name="popularity" value="unpopular">
                    <label for="unpopular">Unpopular</label>
                </div>
            <div>
                <button type="submit" class ="search-button">Generate Playlist</button>
            </div>
        </form>
    </div>
</body>

</html>
